body {
  font-family: Georgia, sans-serif;
  background-color: peachpuff;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  margin-top: 500px; /* Adjust as needed */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes backgroundMove {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.animated-background {
  background: linear-gradient(45deg, #f3f3f3, #e2e2e2);
  background-size: 200% 200%;
  animation: backgroundMove 10s ease infinite;
}


.btn-primary {
  background-color: #b1c2b5; 
  border-color: #080808; 
}


.btn-primary:hover {
  background-color: #3b3d3b; 
  border-color: #111111; 
}

#addRecipeBtn {
  background-color: #9ba3ab; 
  border-color: #0a0a0a; 
  color: #050505; 
}

#addRecipeBtn:hover {
  background-color: #262627; 
  border-color: #030303; 
  color: #787676; 
}